
<section class="active" id="1">
    <div class="pb-3 mb-4 border-bottom">
    <div class="d-flex align-items-center text-dark text-decoration-none">
        <svg width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg"
        style="margin-right: 10px">
        <path d="M19.968 15.0184L14.733 0.568564C14.6702 0.38768 14.5167 0.262452 14.3282 0.22071C7.81591 -1.03852 1.48508 3.21921 0.221706 9.71016C-1.04167 16.2011 3.22309 22.5112 9.7354 23.7774C10.4962 23.9235 11.278 24 12.0458 24C12.1225 24 12.1993 24 12.2831 24C12.4436 24 12.5972 23.9165 12.7019 23.7913C12.7996 23.6591 12.8345 23.4921 12.7996 23.3391L11.7945 19.2414C12.0597 19.0257 12.2272 18.6987 12.2272 18.3439C12.2272 17.7038 11.6898 17.189 11.0337 17.189C10.3566 17.189 9.84708 17.7038 9.84708 18.3648C9.84708 18.9213 10.217 19.3666 10.7475 19.4849C10.7475 19.4918 10.7475 19.4918 10.7475 19.4988L11.5851 22.9217C11.0337 22.9008 10.4892 22.8312 9.94479 22.7269C4.01183 21.572 0.123986 15.8254 1.27568 9.91888C2.41341 4.10276 8.00436 0.262452 13.8257 1.22949L18.8093 14.9836L16.5827 16.4029C15.7521 15.5541 13.4487 13.3487 11.4594 12.8548C10.5311 12.6252 9.95875 11.8808 9.64466 11.2894C9.4213 10.872 9.2817 10.4615 9.19794 10.1206C9.53298 9.91192 9.75634 9.54319 9.75634 9.13273C9.75634 8.49267 9.21888 7.97785 8.56276 7.97785C7.8857 7.97785 7.37617 8.49267 7.37617 9.1536C7.37617 9.65451 7.67631 10.058 8.11604 10.225C8.20678 10.6563 8.36034 11.1016 8.53484 11.4912C9.12814 12.7643 10.0704 13.62 11.1942 13.8983C13.3022 14.4201 16.0662 17.4256 16.0941 17.4534C16.2686 17.6482 16.5618 17.683 16.7852 17.5438L19.7516 15.6585C19.968 15.5193 20.0518 15.255 19.968 15.0184Z"
            fill="#797979"></path> </svg> <span class="fs-4">Zorlu Görev - Pledge Algoritması</span> </div>
    </div>

    <video style="width: 100%; max-width: 99999px;     border:1px solid black;box-shadow: 5px 5px gray;" controls>
        <source src="https://gitlab.com/acrome-colab/riders-content/content-media/-/raw/master/VideoLessons/RodentRider/pledge.mp4" type=video/mp4>
    </video>
    <br>
    <br>

    <ul>
        <li>Blok kodunuzun başına aşağıdaki satırı ekleyin.
            Bu blok labirent duvarlarından birini çıkararak, labirentin şeklini değiştirecektir.
            Sol duvar takip algoritmanızı çalıştırın. Bakalım neler olacak?
        <pre style="font-family:'Courier New'; font-size: 16px; color:darkblue">
robot.remove_wall()
          </pre>    
        </li>
        <li>Labirent bu şekliyle sol takip yöntemi ile çıkılamaz hale gelecektir. Çünkü çıkardığımız bu duvar yüzünden labirent üzerinde bir ada oluştu. Bu ada yüzünden sol takip algoritması bir döngüye girecek ve robot labirentten çıkamayacaktır.
            Sol takip algoritmasından daha gelişmiş bir algoritma olan pledge algoritmasını böyle bir labirentten çıkmak için kullanabiliriz.
            Bu yöntem içeride adalar olsa dahi, eğer çıkış dış tarafta ise robotun labirentten çıkmasını sağlayacaktır.
          </li>
          <li>Aşağıdaki adımları sırasıyla gerçekleştirmeyi deneyin:
            <ul>
              <li>Öncelikle başlangıç değeri 0 olan bir sayaç değişkeni oluşturun:
                Ne zaman sağa dönerseniz sayacın değerini bir arttırın.
                Ne zaman sola dönerseniz de sayacın değerini bir azaltın.
                Böylelikle ne zaman sayaç sıfıra eşit olursa, robotun eşit sayıda sağa ve sola dönüş yaptığını ve robotun yönünün başlangıçtaki ile aynı olduğunu biliyor olacağız.
              </li>
              <li>Şimdi <i>moving_forward</i> isimli bir mantık değişkeni oluşturun. Bu değişken robotun hangi modda olacağını belirleyecektir:
                  <ul>
                      <li><i>moving_forward doğru ise: İleri Gitme Modu</i></li>
                      <li><i>moving_forward yanlış ise: Sol Duvar Takip Modu</i></li>
                  </ul>
              </li> 
              <li>Şimdi <i>moving_forward</i> değişkenini True'ya eşitleyelim. Böylelikle <i>İleri Gitme Modu</i>'na geçmiş olacağız.</i>.</li>
              <li>Şimdi <i>İleri Gitme Modu</i> için kod yazalım. Yazacağımız kod <i>moving_forward</i> değişkeni True'ya eşit olduğu zaman çalışacaktır.
                Burada sırasıyla yapmamız gereken::
                <ul>
                    <li>Önümüze bir duvar gelene kadar ileri gitmek.</li>
                    <li>Sağa dönmek.</li>
                    <li><i>moving_forward</i> değişkenini False'a eşitlemek. Bunu yaptığınız anda <i>İleri Gitme Modu'</i>ndan çıkmış olacağız ve <i>Sol Duvar Takip Modu</i>'na geçmiş olacağız.</li>
                </ul>
              </li>
              <li><i>Sol Duvar Takip Modu</i> için kod yazalım. Yazacağımız bu kod <i>moving_forward</i> değişkeni False'a eşit olduğu sürece çalışacaktır. Bu modda iken:
                <ul>
                    <li>Sol duvar takip algoritmasını önceki derslerde öğrendiğiniz gibi oluşturun.</li>
                    <li>Ancak, sol duvarı takip ederken dönüşlerinizi yukarıda anlatıldığı gibi bir sayaç ile sayın.</li>
                    <li>Aşağıdaki durumların ikisi de doğru olursa, <i>moving_forward</i> değerini tekrar True'ya eşitleyin.
                      <ul>
                        <li>Sayaç sıfıra eşit olursa</li>
                          <li>Önünüzde bir duvar varsa.</li>
                      </ul>
                  </li>
                  <li>Şimdi <i>Sol Duvar Takip Modu</i>'ndan çıktınız ve tekrar <i>İleri Gitme Modu'na</i>'na geçmiş oldunuz.</li>
                </ul>
              </li>
            </ul>
            <li>Aşağıdaki resim yukarıda anlatılan Pledge Algoritmasının bir örneğini göstermektedir. Numaralar sayaç değişkeninin her bir hareket sonundaki değerini göstermektedir.
                Robotumuz sol alt tarafta <i>İleri Gİtme Modu</i>'nda (turuncu) başlar. Duruma göre <i>Sol Takip Modu</i>'na (yeşil) geçer ve tekrar ilk moda geri gelir.
              </li>
              <div style="width 80%; max-width: 200px;">
                <img src="https://gitlab.com/acrome-colab/riders-content/content-media/-/raw/master/LessonImages/RodentRider/Pledge.png" alt="Pledge"
                alt="" title="XXXX">
              </div>
              <li>İpucu: <i>Sol Takip Modu'na</i> geçmeden önce mutlaka sağa dönmeyi unutmayın.</li>
              <li>İpucu: Robotumuz sona çok yaklaşıp sonra uzaklaşırsa telaşlanmayın.
              Pledge Algoritması kesin olarak labirent için bir çözüm bulacaktır. Ancak labirenti en hızlı şekilde bitirmek için tasarlanmamıştır.</li>
              <li>Algoritmanız çalışırsa, robotunuzun çıkışa vardığını görmelisiniz.</li>
            <li>Şimdi aşağıdaki satırı kodunuzdan çıkarın, Reset'e basın:
              <pre style="font-family:'Courier New'; font-size: 16px; color:darkblue">
robot.remove_wall()
              </pre>
              Eksik olan duvarın geri geldiğini görün.
              Algoritmamız bu haliyle de labirenti çözebilir mi? Çözebilir. Pledge Algoritması çıkış en dış duvarda olduğu sürece çalışacaktır.
            </li>
    </ul>


</section>
